In [ ]:
#Source Dataset: https://www.kaggle.com/datasets/joseguzman/climate-sentiment-in-twitter/data

## Import Libararies

In [1]:
import pandas as pd

# Prepare The Dataset

In [9]:
data = pd.read_csv("Climate_twitter.csv")
data.head()

,id,date,retweets,source,author,likes,text,twitter_name,location,verified,followers,friends,polarity,subjectivity
0,2184934963,2020-12-22 23:22:20,71,Twitter Web App,GO GREEN,91,The death of summer Arctic ice our Earth coole...,ECOWARRIORSS,NaN,False,23415,20439,-0.054365,0.426984
1,508658626,2020-12-10 14:30:00,14,Twitter for Advertisers,Elsevier Energy,98,Elsevier and the EditorsinChief are pleased to...,ElsevierEnergy,"Oxford, England",False,6615,508,0.387500,0.633333
2,2607105006,2020-12-22 21:28:52,0,Twitter Web App,Arwyn Thomas,1,From better climate change education to improv...,siwarr5,Carmarthen,False,22,133,0.261905,0.345238
3,19609660,2020-12-22 21:24:10,0,Twitter Web App,"Tom Gillispie, EDITOR/WRITER",0,climate change Links to FIXING CLIMATE CHANGE ...,EDITORatWORK,"Rural Hall, North Carolina, USA",False,4191,3708,0.000000,0.000000
4,19609660,2020-12-21 22:52:09,1,Twitter Web App,"Tom Gillispie, EDITOR/WRITER",1,climate change The 11TH HOUR FOR THE EARTH cli...,EDITORatWORK,"Rural Hall, North Carolina, USA",False,4191,3708,0.000000,0.000000

### Checking Null Values

In [5]:
data.isnull().sum()

id                0
date              0
retweets          0
source            0
author            0
likes             0
text              0
twitter_name      0
location        103
verified          0
followers         0
friends           0
polarity          0
subjectivity      0
dtype: int64

### Feature Selection

In [10]:
data = data[["id","text","polarity"]]
data.tail()

            id                                               text  polarity
391   54992908  An Inconsistent Truth From global cooling 1970...  0.000000
392  209636315  2 climate thought alongside Einstein Robert Op...  0.194444
393  209636315  3 climate used as supporting evidence that man...  0.286667
394   21769361  Global warming Global government via YouTube c...  0.000000
395   95418595  Its feared that climate change will make hot c...  0.112500

In [11]:
min(data["polarity"])

-0.5

In [12]:
max(data["polarity"])

0.6

In [15]:
def polarity_sentiment(polarity):
    if polarity > 0.1:
        return 'positive'
    elif polarity < -0.1:
        return 'negative'
    else:
        return 'neutral'

data["polarity"] = data["polarity"].apply(polarity_sentiment)

In [16]:
data.tail()

            id                                               text  polarity
391   54992908  An Inconsistent Truth From global cooling 1970...   neutral
392  209636315  2 climate thought alongside Einstein Robert Op...  positive
393  209636315  3 climate used as supporting evidence that man...  positive
394   21769361  Global warming Global government via YouTube c...   neutral
395   95418595  Its feared that climate change will make hot c...  positive